/* app css stylesheet */

.grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-column-gap: 1em;
}

.grid > div, .nested-grid > div {
  background: #eee;
  padding: 1em;
}

.grid > div:nth-child(odd), .nested-grid > div:nth-child(odd) {
  background: #ddd
}

.nested-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}
